DB_HOST=localhost
DB_PORT=5432
DB_NAME=hotel_diplom
DB_USER=postgres
DB_PASSWORD=
APP_SECRET_KEY=
JWT_EXPIRE_MINUTES=480
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
PRACTICE_PY_PATH=
PMS_TOKEN=
AMO_BASE_URL=
AMO_LONG_LIVED_TOKEN=
YOUGILE_TOKEN=